
<div class="container">

  <h1 class="title">Implementations</h1><hr>
  <div class="main">
    <!-- EIGHTH EXAMPLE -->
    <div class="view view-eighth">
      <%= image_tag "ecommerce.jpg" %>
      <div class="mask">
        <h2>OnlineStore App</h2>
        <p>App for purchasing movies online with BrainTree.</p>
        <%= link_to "Open App", movies_path , class: "blackcolorbold",target: '_blank' %>
      </div>
    </div>


    <div class="view view-eighth">
      <%= image_tag "quiz.png" %>
      <div class="mask">
        <h2>A Quiz App</h2>
        <p>A quiz app that features adding of questions and evaluation of the test.</p>
        <%= link_to "Open App", "https://android-quiz.herokuapp.com/" , class: "blackcolorbold",target: '_blank' %>
      </div>
    </div>

    <div class="view view-eighth">
      <%= image_tag "poll.jpg" %>
      <div class="mask">
        <h2>Polling with Facebook</h2>
        <p>This app facilitates the user to participate in the polls through facebook.</p>
        <%= link_to "Open App", polls_path , class: "blackcolorbold",target: '_blank' %>
      </div>
    </div>

    <div class="view view-eighth">
      <%= image_tag "crawler.png" %>
      <div class="mask">
        <h2>Crawler App</h2>
        <p>A web crawler app which lists out all internal links.</p>
        <%= link_to "Open App", crawler_crawl_all_path , class: "blackcolorbold",target: '_blank' %>
      </div>
    </div>

    <div class="view view-eighth">
      <%= image_tag "paperclip.ico" %>
      <div class="mask">
        <h2>Simple Paperclip</h2>
        <p>App for simple upload functionality.</p>
        <%= link_to "Open App", photos_path , class: "blackcolorbold",target: '_blank' %>
      </div>
    </div>


    <div class="view view-eighth">
      <%= image_tag "contact_book.png" %>
      <div class="mask">
        <h2>ContactBook App</h2>
        <p>App built with validation and simple search functionality.</p>
        <%= link_to "Open App", contacts_path, class: "blackcolorbold",target: '_blank' %>
      </div>
    </div>

    <div class="view view-eighth">
      <%= image_tag "todo.jpg" %>
      <div class="mask">
        <h2>Simple Todo App</h2>
        <p>A simple todo app with html5 validation.</p>
        <%= link_to "Open App", todos_path, class: "blackcolorbold",target: '_blank' %>
      </div>
    </div>


    <div class="view view-eighth">
      <%= image_tag "tutorial.jpg" %>
      <div class="mask">
        <h2>Mini Tutorial App</h2>
        <p>Tutorial app with DEVISE that redirects to login on fourth exercise.</p>
        <%= link_to "Open App", "https://android-for-annauniv.herokuapp.com/" , class: "blackcolorbold",target: '_blank' %>
      </div>
    </div>

    <div class="view view-eighth">
      <%= image_tag "articles.jpg" %>
      <div class="mask">
        <h2>Sample Article App</h2>
        <p>Article app stores related sections, books.</p>
        <%= link_to "Open App", articles_path , class: "blackcolorbold",target: '_blank' %>
      </div>
    </div>

  </div>
</div>
