<ul class="nav navbar-nav navbar-right">
  <% if current_user %>
      <li><%= image_tag current_user.image_url, alt: current_user.name %></li>
      <li><%= link_to 'Profile', user_path(current_user) %></li>
      <li><%= link_to 'Logout', sign_out_path %></li>
  <% else %>
      <li><%= link_to 'Sign in', '/auth/facebook' %></li>
  <% end %>
</ul>
<br>
<div class="container">
  <div class="navbar-header">
    <%= link_to 'Poller', polls_path, class: 'navbar-brand blackcolorbold' %>
  </div>
  <ul class="navbar-header">
    <li><%= link_to 'Add New poll', new_poll_path, class: "blackcolorbold" %></li>
  </ul>
  <br/>
    </div>